{% extends "BugglMainBundle:Markup/Markup:resultPage.html.twig" %}

{% block title %} Full Page Markup {% endblock %}

{% block precontent %}
{% endblock %}

{% block breadcrumbs %}
    <div class="row">
        <ul class="breadcrumb column grid_12">
            <li><a href="#">Home</a></li>
            <li>Become of True Boracayan with Janvan!</li>
        </ul>
    </div>
{% endblock %}

{% block main_content %}
    <div class="row">
        <header class="hd sd column grid_12">
            <h2>Itinerary</h2>
            <nav>
         		<a href="{{ path('guide_overview_mark_up')  }}">Overview</a>
                <a href="{{ path('full_page_local_places_mark_up')  }}">Local Secrets</a>
                <a href="{{ path('full_page_mark_up')  }}" class="selected">Itinerary</a>
                <a href="#" class="buynow"><span>$9.99 Buy</span></a>
            </nav> 	
        </header>
        <aside class="column grid_4">
			<section class="profile">
				<nav class="clearfix clear sd-nav grid_4" data-magellan-expedition="fixed" >
					<a href="#" data-magellan-arrival="day1" class="active"><span class="ico"></span>Day 1</a>
					<a href="#" data-magellan-arrival="day2"><span class="ico"></span>Day 2</a>
					<a href="#" data-magellan-arrival="day3"><span class="ico"></span>Day 3</a>
					<a href="#" data-magellan-arrival="day4"><span class="ico"></span>Day 4</a>
				</nav>
			</section>        
        </aside>
        <article class="column grid_8">
            <section data-magellan-destination="day1">
                <div class="reg_box stnd">
                    <h2>Day 1</h2>
                    <p>You're not going to be placed in any sort of pre-packaged experience or guided to the "top" hotels or restaurants. You'll kick off your adventure touring one of the cities oldest and most undervisited parts of town where it's currently experiencing a great resurgence of growth - from new bars and restaurants, to building out of new cool and unique buildings that have stood there for hundreds of years.</p>
                    <h3>Hot Spots</h3>
                    <ul class="itinerary-spot">
                        <li>
		                    <img width="263" border="0" align="left" class="fl" src="/bundles/bugglmain/images/custom/300_200b.jpg">
		                    <h4><a href="#">Ultra Electro Magnetic Guidebook 2012</a></h4>
		                    <ul class="tag">
			                	<li>shopping</li>
			                	<li>people watching</li>
			                	<li>food</li>
			                	<li>sightseeing</li>
			                </ul>
		                </li>
                        <li>
		                    <img width="263" border="0" align="left" class="fl" src="/bundles/bugglmain/images/custom/300_200b.jpg">
		                    <h4><a href="#">Ultra Electro Magnetic Guidebook 2012</a></h4>
		                    <ul class="tag">
			                	<li>shopping</li>
			                	<li>people watching</li>
			                	<li>food</li>
			                	<li>sightseeing</li>
			                </ul>
		                </li>
                    </ul>
                </div>
            </section>
            <section data-magellan-destination="day2">
                <div class="reg_box stnd">
                    <h2>Day 2</h2>
                    <p>You're not going to be placed in any sort of pre-packaged experience or guided to the "top" hotels or restaurants. You'll kick off your adventure touring one of the cities oldest and most undervisited parts of town where it's currently experiencing a great resurgence of growth - from new bars and restaurants, to building out of new cool and unique buildings that have stood there for hundreds of years.</p>
                    <h3>Hot Spots</h3>
                    <ul class="itinerary-spot">
                        <li>
		                    <img width="263" border="0" align="left" class="fl" src="/bundles/bugglmain/images/custom/300_200b.jpg">
		                    <h4><a href="#">Ultra Electro Magnetic Guidebook 2012</a></h4>
		                    <ul class="tag">
			                	<li>shopping</li>
			                	<li>people watching</li>
			                	<li>food</li>
			                	<li>sightseeing</li>
			                </ul>
		                </li>
                        <li>
		                    <img width="263" border="0" align="left" class="fl" src="/bundles/bugglmain/images/custom/300_200b.jpg">
		                    <h4><a href="#">Ultra Electro Magnetic Guidebook 2012</a></h4>
		                    <ul class="tag">
			                	<li>shopping</li>
			                	<li>people watching</li>
			                	<li>food</li>
			                	<li>sightseeing</li>
			                </ul>
		                </li>
                    </ul>
                </div>
            </section>
            <section data-magellan-destination="day3">
                <div class="reg_box stnd">
                    <h2>Day 3</h2>
                    <p>You're not going to be placed in any sort of pre-packaged experience or guided to the "top" hotels or restaurants. You'll kick off your adventure touring one of the cities oldest and most undervisited parts of town where it's currently experiencing a great resurgence of growth - from new bars and restaurants, to building out of new cool and unique buildings that have stood there for hundreds of years.</p>
                    <h3>Hot Spots</h3>
                    <ul class="itinerary-spot">
                        <li>
		                    <img width="263" border="0" align="left" class="fl" src="/bundles/bugglmain/images/custom/300_200b.jpg">
		                    <h4><a href="#">Ultra Electro Magnetic Guidebook 2012</a></h4>
		                    <ul class="tag">
			                	<li>shopping</li>
			                	<li>people watching</li>
			                	<li>food</li>
			                	<li>sightseeing</li>
			                </ul>
		                </li>
                        <li>
		                    <img width="263" border="0" align="left" class="fl" src="/bundles/bugglmain/images/custom/300_200b.jpg">
		                    <h4><a href="#">Ultra Electro Magnetic Guidebook 2012</a></h4>
		                    <ul class="tag">
			                	<li>shopping</li>
			                	<li>people watching</li>
			                	<li>food</li>
			                	<li>sightseeing</li>
			                </ul>
		                </li>
                    </ul>
                </div>
            </section>     
            <section data-magellan-destination="day4">
                <div class="reg_box stnd">
                    <h2>Day 4</h2>
                    <p>You're not going to be placed in any sort of pre-packaged experience or guided to the "top" hotels or restaurants. You'll kick off your adventure touring one of the cities oldest and most undervisited parts of town where it's currently experiencing a great resurgence of growth - from new bars and restaurants, to building out of new cool and unique buildings that have stood there for hundreds of years. After pounding the pavement for a few hours, get ready to experience an interesting brewery tour and sit atop of the cities newest bar and restaurant to get a flavor for what Boston is known for; it's seafood and craft beers that make it a wold class destination. If you see another tourist, its merely by accident, because at all costs this local knowledge is going to bring you closer to the city that most people miss.</p>
                    <h3>Hot Spots</h3>
                    <ul class="itinerary-spot">
                        <li>
		                    <img width="263" border="0" align="left" class="fl" src="/bundles/bugglmain/images/custom/300_200b.jpg">
		                    <h4><a href="#">Ultra Electro Magnetic Guidebook 2012</a></h4>
		                    <ul class="tag">
			                	<li>shopping</li>
			                	<li>people watching</li>
			                	<li>food</li>
			                	<li>sightseeing</li>
			                </ul>
		                </li>
                        <li>
		                    <img width="263" border="0" align="left" class="fl" src="/bundles/bugglmain/images/custom/300_200b.jpg">
		                    <h4><a href="#">Ultra Electro Magnetic Guidebook 2012</a></h4>
		                    <ul class="tag">
			                	<li>shopping</li>
			                	<li>people watching</li>
			                	<li>food</li>
			                	<li>sightseeing</li>
			                </ul>
		                </li>
                        <li>
		                    <img width="263" border="0" align="left" class="fl" src="/bundles/bugglmain/images/custom/300_200b.jpg">
		                    <h4><a href="#">Ultra Electro Magnetic Guidebook 2012</a></h4>
		                    <ul class="tag">
			                	<li>shopping</li>
			                	<li>people watching</li>
			                	<li>food</li>
			                	<li>sightseeing</li>
			                </ul>
		                </li>
                        <li>
		                    <img width="263" border="0" align="left" class="fl" src="/bundles/bugglmain/images/custom/300_200b.jpg">
		                    <h4><a href="#">Ultra Electro Magnetic Guidebook 2012</a></h4>
		                    <ul class="tag">
			                	<li>shopping</li>
			                	<li>people watching</li>
			                	<li>food</li>
			                	<li>sightseeing</li>
			                </ul>
		                </li>
                    </ul>
                </div>
            </section>                                                       
        </article>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
            var header = $('.sd');
			var sideNav = $('.sd-nav');
            var start = $(header).offset().top;
            $.event.add(window, "scroll", function() {
                var p = $(window).scrollTop();
                $(header).css('position',((p)>start) ? 'fixed' : 'static');
                $(header).css('top',((p)>start) ? '0px' : '');
                $(header).css('border-bottom',((p)>start) ? '1px solid #ddd' : '');
				
                $(sideNav).css('position',((p)>start) ? 'fixed' : 'static');
                $(sideNav).css('top',((p)>start) ? '128px' : '');
            });
        });
    </script>

{% endblock %}
