{% extends "BugglMainBundle:Markup:frontendLayout.html.twig" %}

{% block title %} Buggl {% endblock %}

{% block main_content %}
	<div class="row">
		<section class="column grid_12">
			<div id="seventh" class="missing reg_box grid_7 expert-subscription">
				<p>This guide is not yet published. Please Check back later.</p>
			</div>
		</section>
	</div>
{% endblock %}