<div class="multiple-decription-modal custom-modal" id="multiple-decription-modal" style="display:none; z-index:103 !important;">
	<div class="shadow"></div>	
	<div>
		<h2>
			Spot Descriptions
			<a class="close to-right">x</a>
		</h2>	
		<p>You have used this spot before!<br/>
			You have the option to reuse your spot details or create a new description.<br/>
			Make a selection below:</p>
		<ul id="multi-desc-list">
		</ul>
		<div class="action-area">
			<a class="button" name="confirm-btn">Confirm</a>
			<a class="button" name="cancel-modal">Cancel</a>
		</div>	
	</div>	
</div>