<section class="profile">
	<nav class="clearfix clear">
		<a href="{{ path('local_author_login_details') }}" class="{{ activeTab | selected('logindetails','active') }}"><span class="ico"></span>Login Details</a>
		<a href="{{ path('local_author_social_media') }}" class="{{ activeTab | selected('socialmedia','active') }}"><span class="ico"></span>Social Connect</a>
	</nav>
</section>