{% if count %}
    <li class="messages new">
        <a href="{{ path('local_author', {'type':'guide-request'}) }}"><span class="ico"></span></a>
    </li>
{% else %}
    <li class="messages">
        <a href="{{ path('local_author_messages', {'type':'guide-request'}) }}"><span class="ico"></span></a>
    </li>
{% endif %}

