{% extends "BugglMainBundle:Notification:emailNotificationLayout.html.twig" %}

{% block content %}
    <h1>Hey there,</h1>
    <p class="font-size: 10px;  ">Thanks for the note.</p>
    <p>We will do our best to get back to you shortly.</p>

	<p>Safe Travels,</p>
	<p><strong>The Buggl Team</strong></p>
{% endblock %}