{% extends "BugglMainBundle:Notification:emailNotificationLayout.html.twig" %}

{% block content %}
    <h1>Hey Traveler,</h1>

    <p>Thanks for submitting a custom travel guide request on Buggl, the marketplace of travel guides built by local experts around the world.</p>

    <p>We’ve received your request and our locals are busy writing away to create an experience for you.</p>

    <p>Once it’s done you’ll receive notification and see all the hard work that your local put into creating a wonderful travel guide for you.</p>

    <p>The local will price the guide or give it to you for free depending on how much effort it took to compile it.  You will then have the option to download it for free, purchase it or just ignore it – completely up to you!</p>

    <p>At least it’s better than sifting through the Internet for the next 8 hours trying to plan your trip – we hope a little information matched to your interests and likes goes a long way!</p>

    <p>Best,</p>

    <p><strong>The Buggl Team</strong></p>
{% endblock %}