{% extends "BugglMainBundle:Notification:emailNotificationLayout.html.twig" %}

{% block content %}

	<p class="font-size: 10px;">You’ve taken the first step to share knowledge about where you’ve traveled or live. </p>
	<p class="font-size: 10px;">You have a blank canvas; a travel guide can be designed on anything. Create a cool bar or restaurant guide for friends or family who frequent your city, turn your recent trip into a compelling journal you’ll have forever or earn income designing a guide with the information you have about a passion or interest. </p>
	<p class="font-size: 10px;">Whatever you have expertise in locally or abroad, our site if your oyster to share that knowledge.  A travel guide may take more time to write than jotting down a review online, but that’s the point.  We’ve made it easier than ever before to design a beautiful travel guide for the world or your network to see, so take the time to create something compelling. </p>
	
	<p>Share your knowledge!</p>
	<p><strong>The Buggl Team</strong></p>
{% endblock %}
