{% extends "BugglMainBundle:Notification:emailNotificationLayout.html.twig" %}

{% block content %}
	<h1>Hi {{ name }},</h1>
	<p>You want to change your password?  That’s cool.</p>
	<p>Follow this link and you will be good to go. </p>
	<p><a href="{{ resetLink }}">Click here</a></p>
	
	<p>Safe Travels,</p>
	<p><strong>The Buggl Team</strong></p>	
{% endblock %}