{% extends "BugglMainBundle:Notification:emailNotificationLayout.html.twig" %}

{% block content %}
	<h1>Knowledge Transfer...</h1>
    <p class="font-size: 10px;  ">Your Guide is Ready</p>

	<p>You can view your insider travel guide on our platform below or download, print and save it in a PDF form <a href="{{ link }}">here</a></p>

	<p>In the not to distant future we have a lot of things planned including a push into mobile, tablet and landing on Mars.  If you enjoy what you see now, you’ll love us even more in the future.  Follow us @Buggl and stay in touch!</p>

	<p>Safe Travels,</p>
	<p><strong>The Buggl Team</strong></p>
{% endblock %}