{% extends "BugglMainBundle:Notification:emailNotificationLayout.html.twig" %}

{% block content %}
	<p style="text-align:center; font-size: 13px; ">Check out Buggl, an exclusive community of local experts.</p>
	<p style="padding:20px 0;text-align:center;">
		<img src="http://www.buggl.com/bundles/bugglmain/images/buggl-big.png" />
	</p>	
	
	<p style="text-align:center;padding-bottom:40px;">
		<a href="{{ link }}" style="background:#ccc;display:inline-block;padding:8px 10px;color:#fff;margin-top:10px;text-decoration:none;border-radius:5px;">Go to site</a>
	</p>	
{% endblock %}