{% extends "BugglMainBundle:Notification:emailNotificationLayout.html.twig" %}

{% block content %}
	<h1>Hey there,</h1>

	<p>We wanted to let you know that you’re account is currently in limbo – in other words it’s suspended.</p>

	<p>You probably should know why, but if you don’t or have questions please don’t hesitate to respond or hit us up at support@buggl.com.</p>

	<p>We want to ensure for a clean, safe and transparent environment for everyone.</p>

	<p>Thanks,</p>
	<p><strong>The Buggl Team</strong></p>
{% endblock %}