{% extends "BugglMainBundle:Markup:frontendLayout.html.twig" %}

{% block title %} Buggl Password Reset Request{% endblock %}

{% block main_content %}
	<div id="seventh" class="expert-subscription">
		<div class="story">
	    	<div class="subscribe-form">
				{{ form_errors(form) }} 
				<form action="" method="post">
					<div class="form-section">
						<span>
							<label style="float:none;text-align: center;display: block;width: 100%;">Password Reset</label>
							<p style="text-align:center;">To reset your password, enter the address associated with your account, and we'll email you a link to reset your password.</p>	
						    {{ form_widget(form.email) }}
							{{ form_errors(form.email) }}
						</span>
					</div>	
							
					{{ form_rest( form ) }}
					<div class="form-section submit-section">
						<input id="subscribe_button" class="button" type="submit" value="Submit" />					
					</div>
				</form>
			</div>
	    </div>
	</div> 
{% endblock %}