{% extends "BugglMainBundle:Markup:frontendLayout.html.twig" %}

{% block title %} Buggl Password Reset{% endblock %}

{% block main_content %}
	<div class="row">
		<section class="column grid_12">
			<div id="seventh" class="missing reg_box grid_7 expert-subscription">
		    	<p> An email notification has been sent to {{ recipientEmail }}.</p>
				<p>Did not receive email? <a href="{{ path('buggl_password_reset_request_resend',{'requestId':requestId}) }}"> Resend </a></p>
			</div>
		</section>
	</div>
{% endblock %}