{% if showAlert %}
	<section class="progress lista">
		<div><p class="fl"><strong>Your PayPal is still not connected to your Buggl Account</strong></p>
			<nav class="mini fr"><a href="{{ path('local_author_payments_settings') }}" class="btn fr complete-button" target="_blank">Connect it here</a></nav>
		</div>
	</section>
{% endif %}