<a href="https://accounts.google.com/o/oauth2/auth?
scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.profile&
redirect_uri=http://gaplabs.ph/&
response_type=code&
client_id=464369053826.apps.googleusercontent.com&access_type=offline" id="test">CLICK</a>

<form action="https://accounts.google.com/o/oauth2/token" method="post">
	<input type='text' name="code" value="4/yKDH-rFIFlD2wVKYktgqO3iTBcsi.cnQvXp7ZDIYagrKXntQAax2MZ6-YeQI">
	<input type='text' name="client_id" value="464369053826.apps.googleusercontent.com">
	<input type='text' name="client_secret" value="n0G7bPNN4KMx5pQ_4M8GPlaj">
	<input type='text' name="redirect_uri" value="http://gaplabs.ph/">
	<input type='text' name="grant_type" value="authorization_code">
	<input type='text' name="approval_promp" value="force">
	<input type="submit" val="submit">
</form>