/* --------------------------------------------------------------

   typography.css
   * Sets up some sensible default typography.

-------------------------------------------------------------- */

/* Default font settings.
   The font-size percentage is of 16px. (0.75 * 16px = 12px) */
html { font-size:100.01%; }
body {
  font-size: 14px;
  color: #444;
  background: #fff;
  font-family: "Raleway",Helvetica,Arial,sans-serif;
}

/* Headings
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6 { font-weight: 700; color: #111; margin-top: 0; line-height: 1; font-family: 'Noto Sans', sans-serif; letter-spacing: -0.02em; }

h1 { font-size: 28px; margin-bottom: 0.7em; }
h2 { font-size: 20px; margin-bottom: 0.7em; }
h3 { font-size: 16px; margin-bottom: 1em; font-weight: 400; }
h4 { margin-bottom: 1px; line-height: 1.2; }
h5 { font-size: 15px; font-weight: bold; margin-bottom: 1.5em; }
h6 { font-weight: bold; }

h1 img, h2 img, h3 img,
h4 img, h5 img, h6 img {
  margin: 0;
}

.reg_box h2:first-child { margin-top: 10px; }

/* Text elements
-------------------------------------------------------------- */

p      { margin: 0 0 1em; line-height: 1.5; }
h3 + p     { margin-bottom: 1em; }
p + h3     { margin-top: 1.5em; }

/*
  These can be used to pull an image at the start of a paragraph, so
  that the text flows around it (usage: <p><img class="left">Text</p>)
 */
.left       { float: left !important; }
p .left     { margin: 1.5em 1.5em 1.5em 0; padding: 0; }
.right      { float: right !important; }
p .right    { margin: 1.5em 0 1.5em 1.5em; padding: 0; }

a:focus,
a:hover     { color: #09f; }
a           { color: #00A2FF; text-decoration: underline; outline: 0 !important; }

blockquote  { margin: 1.5em; color: #666; font-style: italic; }
strong,dfn  { font-weight: bold; }
em,dfn      { font-style: italic; font-family: 'Georgia', serif; }
sup, sub    { line-height: 0; }

abbr,
acronym     { border-bottom: 1px dotted #666; }
address     { margin: 0 0 1.5em; font-style: italic; }
del         { color:#666; }

pre         { margin: 1.5em 0; white-space: pre; }
pre,code,tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; }


/* Lists
-------------------------------------------------------------- */

li ul,
li ol  { margin: 0; }
ul, ol { margin: 0 1.5em 1.5em 0; padding-left: 1.5em; }

ul     { list-style-type: disc; }
ol     { list-style-type: decimal; }

dl     { margin: 0 0 1.5em 0; }
dl dt  { font-weight: bold; }
dd     { margin-left: 1.5em;}

@font-face {
    font-family: Sketch;
    src: url('/Buggl/MainBundle/Resources/public/fonts/sketch/Sketch_Block 2.ttf');
    font-weight:600;
}


ul:last-child { margin-bottom: 0; }

/* Tables
-------------------------------------------------------------- */

/*
  Because of the need for padding on TH and TD, the vertical rhythm
  on table cells has to be 27px, instead of the standard 18px or 36px
  of other elements.
 */
table         { margin-bottom: 1.4em; width:100%; }
th            { font-weight: bold; }
thead th      { background: #c3d9ff; }
th,td,caption { padding: 4px 10px 4px 5px; }
/*
  You can zebra-stripe your tables in outdated browsers by adding
  the class "even" to every other table row.
 */
tbody tr:nth-child(even) td,
tbody tr.even td  {
  background: #e5ecf9;
}
.payments-list tr:nth-child(even) td {
  background-color: #f9f9f9;	
}

tfoot       { font-style: italic; }
caption     { background: #eee; }

/* animations *
-------------------------------------------------------------- */
.trans_wid { transition: width 0.3s; -moz-transition: width 0.3s; -webkit-transition: width 0.3s; -o-transition: width 0.3s; }

/* Misc classes
-------------------------------------------------------------- */

.small     { font-size: .8em; margin-bottom: 1.875em; line-height: 1.875em; }
.large     { font-size: 1.2em; line-height: 2.5em; margin-bottom: 1.25em; }
.hide      { display: none; }
.title     { font-weight: 700; margin-bottom: 0; padding-bottom: 0; border: none; line-height: 22px;font-size:22px; }

.quiet     { color: #666; }
.loud      { color: #000; }
.highlight { background:#ff0; }
.added     { background:#060; color: #fff; }
.removed   { background:#900; color: #fff; }

.first     { margin-left:0; padding-left:0; }
.last      { margin-right:0; padding-right:0; }
.top       { margin-top:0; padding-top:0; }
.bottom    { margin-bottom:0; padding-bottom:0; }

body .nomrg	   { margin: 0;}

.site-admin, .site-admin h1, .site-admin h2, .site-admin h3, .site-admin h4{
	font-family: "Helvetica Neue", Heltvetica, Arial, Sans-serif;
}
