<section class="step-2 steps" id="{{ eguide.slug }}">
	<div class="create-guide-pages clearfix">
		
		{% include "BugglMainBundle:LocalAuthor/Eguides/Themes/Default:guidePageSections.html.twig" with { 'travel_guide_id' : eguide.id, name : 'about'} %}

		<div class="pages">
			<div class="page">
				<div class="main-page about-us-page clearfix">
					<div class="first-half half to-left generic" style="background: url({{asset('bundles/bugglmain/images/cover-guide.jpg')}}) no-repeat #ffffff;">	
						<div class="page-shading"></div>								
						<div class="generic-header">
							<h1>About Us</h1>
						</div>
						<div class="generic-content">
							<h3>THE BUGGL TEAM.</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam leo elit, viverra a pellentesque nec, congue at leo. Donec facilisis massa ac justo scelerisque molestie. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas ornare porttitor eros vel elementum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
							</p>
							<h3>OUR MISSION.</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam leo elit, viverra a pellentesque nec, congue at leo. Donec facilisis massa ac justo scelerisque molestie. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas ornare porttitor eros vel elementum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean ultrices elit vel lorem ultricies laoreet. Duis mollis tincidunt augue, non laoreet metus elementum sed. Duis ullamcorper, nisi vel.
							</p>
							<h3>OUR STORY.</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam leo elit, viverra a pellentesque nec, congue at leo. Donec facilisis massa ac justo scelerisque molestie. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas ornare porttitor eros vel elementum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean ultrices elit vel lorem ultricies laoreet. Duis mollis tincidunt augue, non laoreet metus elementum sed. Duis ullamcorper, nisi vel suscipit varius, turpis odio dictum odio, non adipiscing purus tortor quis nulla. Suspendisse sit amet vehicula magna. Aliquam vel suscipit urna. Pellentesque varius, dolor vitae rhoncus gravida, dui velit congue nibh, a pulvinar erat mauris id metus. Donec congue libero sed sem euismod scelerisque ac ut odio. Suspendisse id turpis massa, vitae suscipit odio.
							</p>
						</div>
					</div>
					<div class="second-half half to-left generic" style="background: url({{asset('bundles/bugglmain/images/about-us-bg2.jpg')}}) no-repeat #ffffff;">
						<div class="page-shading"></div>
						<div class="generic-header">
						</div>
						<div class="generic-content">
							<h3>PRESS RELEASE.</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam leo elit, viverra a pellentesque nec, congue at leo. Donec facilisis massa ac justo scelerisque molestie. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas ornare porttitor eros vel elementum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
							</p>
							<h3>CONTACT US.</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam leo elit, viverra a pellentesque nec, congue at leo. Donec facilisis massa ac justo scelerisque molestie. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas ornare porttitor eros vel elementum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean ultrices elit vel lorem ultricies laoreet. Duis mollis tincidunt augue, non laoreet metus elementum sed. Duis ullamcorper, nisi vel.
							</p>
						</div>					
					</div>
				</div>
			</div>
		</div>
	</div>
</section>