<div class="page">
	<div class="main-page clearfix">
		{% set cls = (cycle(['even','odd'], page) == 'even') ? "second-half" : "first-half" %}
		<div class="{{cls}} half {{ (page == 1) ? 'page-intro' : 'spot' }}">
			{% if page == 1 %}
				{% include "BugglMainBundle:LocalAuthor/Eguides/Themes/Default:localplacesIntro.html.twig" %}
			{% else %}
				{% set hightlighted = (cycle(['odd', 'even'], page) == 'even') ? true : false %}
				{% include "BugglMainBundle:LocalAuthor/Eguides/Themes/Default:localplacesSpot.html.twig" with { 'sd' : localSecret.spotDetail, 'hightlighted' : hightlighted, 'eguide' : eguide, 'page' : page } %}
			{% endif %}
		</div>
	</div>
	{% include 'BugglMainBundle:LocalAuthor/Eguides/Themes/Default:pageNavigation.html.twig' with {'travel_guide_id':eguide.id,'prev_page':'cover','next_page':'itinerary', 'status' : eguide.status} %}
</div>	