{% extends "BugglMainBundle:Markup:frontendLayout.html.twig" %}

{% block title %} Buggl Local Reference{% endblock %}

{% block main_content %}
	<div class="row">
		<section class="column grid_12">
			<div id="seventh" class="missing reg_box grid_7 expert-subscription">
				<p>This request has already been responded to or has expired.</p>
			</div>
		</section>
	</div>
{% endblock %}