{% extends "BugglMainBundle:LocalAuthor:localAuthorLayout.html.twig" %}

{% block title %}Settings{% endblock %}

{% block precontent_title %}
	Settings
{% endblock %}

{% set active = '' %}

{% block main_content %}	
	<p>Email Address update failed. Either your request has already expired or your token is invalid.</p>
{% endblock %}