{% extends "BugglMainBundle:Markup:frontendLayout.html.twig" %}

{% block title %} Buggl Confirmation {% endblock %}

{% block main_content %}
	<div class="row">
		<section class="column grid_12">
			<div id="seventh" class="missing reg_box grid_7 expert-subscription">
				<p>Your current email address is already verified.</p>
			</div>
		</section>
	</div>
{% endblock %}