{% extends "BugglMainBundle:Markup:frontendLayout.html.twig" %}

{% block title %} Buggl Confirmation Failed {% endblock %}

{% block main_content %}
	<div class="row">
		<section class="column grid_12">
			<div id="seventh" class="missing reg_box grid_7 expert-subscription">
				<p>This token is not for your account.</p>
			</div>
		</section>
	</div>	
{% endblock %}