{% extends "BugglMainBundle:Markup:frontendLayout.html.twig" %}

{% block title %} Buggl Registration Success{% endblock %}

{% block main_content %}
	<div class="row">
		<section class="column grid_12">
			<div id="seventh" class="missing reg_box grid_7 expert-subscription">
				<p>Thank you for joining buggl. Please check your email at <u>{{ email is empty ? ' ' :''~ email ~''}}</u> to confirm your registration.</p>
			</div>
		</section>
	</div>
{% endblock %}